<item>
	<!-- <div style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start;"> -->
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<title>News</title>
				<h1>News</h1>
			</div>
			<div class="col-12 col-lg-8">
				<ul>
				<li> <b>[April 2020]</b> Selected as a <a href="https://www.heidelberg-laureate-forum.org/young-researchers.html" target="_blank">HLF Young Researcher.</a>  
				<li> <b>[January 2020]</b> Started working as a Data Science Intern at United Health Group.
				<li> <b>[September 2019]</b>  Presented my <a href="https://dl.acm.org/doi/10.1145/3342220.3344930" target="_blank">Paper</a> at ACM-Hypertext and Social Media 2019.</li>	
				<li> <b>[July 2019]</b>  Presented my  <a href="https://www.aclweb.org/anthology/people/a/arijit-ghosh-chowdhury/" target="_blank"> papers</a> at the Association of Computational Linguistics (ACL) 2019.</li> 	
				<li> <b>[May 2019]</b> Our Paper titled  <a href="https://aclweb.org/anthology/papers/P/P19/P19-2038/" target="_blank">'ARHNet - Leveraging Community Interaction for Detection of Religious Hate Speech in Arabic'</a> got accepted into ACL-SRW 2019.</li>
				<li> <b>[May 2019]</b> Started working as a Machine Learning Intern at <a href="https://www.rentsher.com/" target="_blank">'RentSher India'</a> </li>
				<li> <b>[May 2019]</b> Our Paper titled  <a href="https://aclweb.org/anthology/papers/P/P19/P19-2038/" target="_blank">'#YouToo - Detection of Personal Recollections of Sexual Harassment onSocial Media'</a> got accepted as a long paper into ACL 2019.</a>.</li>
				<li> <b>[March 2019]</b> Our Paper titled  <a href="https://www.aclweb.org/anthology/N19-3018.pdf" target="_blank">'Speak up, fight back! Detection of Social Media Disclosures of Sexual Harassment'</a> got accepted as a long paper into NAACL-SRW 2019.</a>.</li>

				</ul>
			</div>			 
		</div>
	</div>

	
	 
	<!-- </div> -->
